<div class="container-fluid h-100 p-0">
  <div class="row m-0 h-100">
    <div class="col-4 col-xl-2 h-100 sidebar">
      <nav class="side-nav col-11">
        <ul class="nav-menu">
          <li class="title mb-5 pb-3">
            <span class="text-light h5 text-uppercase">ridwan group</span>
          </li>
          <li class="nav-item"  routerLinkActive="activ-link">
            <a>
              <i class="fas fa-tachometer-alt"></i><span class="menu-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item"  routerLinkActive="activ-link">
            <a>
              <i class="fa-sharp fa-solid fa-building"></i><span class="menu-text">Entreprises</span>
            </a>
          </li>
          <li class="nav-item"  routerLinkActive="activ-link">
            <a>
              <i class="fa-sharp fa-solid fa-hospital-user"></i><span class="menu-text">Structures</span>
            </a>
          </li>
          <li class="nav-item">
            <a>
              <i class="fas fa-sign-out-alt"></i><span class="menu-text">exit</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-8 col-xl-10">
      <div class="header row">
        <div class="logo-titre col-6">
					<span class="logo">
						<img src="assets/images/logo.png" alt="logo" class="h-100">
					</span>
<!--          <span class="titre h5 ms-3" *ngIf="user && user !== null">-->
<!--						{{user.prenom}} {{ user.nom }}-->
<!--					</span> -->
        </div>
        <div class="search-help col-6">
          <div class="input-box w-50">
            <input type="search" class="form-control" placeholder="Search">
            <i class="fa fa-search"></i>
          </div>
          <span>
						<i class="fa-sharp fa-regular fa-circle-question fs-2 mx-3 text-secondary"></i>
					</span>
        </div>
      </div>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


