.sidebar{
  display: flex;
  justify-content: flex-end;
}
.side-nav .nav-menu {
  height: 100%;
  list-style: none;
  padding: 40px 0;
  width: 90%;
  padding-left: 10%;
  margin-left: 5%;
  background-color: var(--orange);
  box-shadow: var(--shadow);
}
.side-nav .nav-item {
  /* position: relative; */
  padding: 3% 0 3% 8%;
  margin: 20px 0;
  font-size: 1em;
  border-radius: 30px 0 0 30px;
  cursor: pointer;
}
.nav-item:hover{
  background-color: #ffffff42;
}
.nav-item a {
  display: inline-block;
  text-decoration: none;
  padding: 2.5% 0;
  color: #fff;
  width: 100%;
}
.activ-link{
  background-color: #fff;
}
.activ-link > a{
  color: #364129;
}
.menu-text {
  padding: 0 20px;
}
.title{
  border-bottom: 8px solid var(--vert);
}
.header{
  margin: 0;
  margin: 1% 0;
  height: 7%;
  border-bottom: 1px solid gray;
}
.logo-titre{
  height: 100%;
}
.logo-titre .logo{
  display: inline-block;
  margin: auto;
  height: 90%;
}
.logo-titre .titre{
  color: #364129;
}
.main-content{
  box-sizing: border-box;
  height: 88.5%;
  padding: 1%;
  background-color: #eee;
  border-radius: 8px;
}

.card{

  background-color: #fff;
  padding: 15px;
  border:none;
}

.input-box{
  position: relative;
}

.input-box i {
  position: absolute;
  right: 13px;
  top:12px;
  color:#ced4da;

}
.search-help{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
input[type='search']:focus{
  box-shadow: none;
  border-color: var(--vert);
}
.btn{
  background-color: #fff;
}
