.supermain { 
	height: 100%;
	overflow: hidden;
	background-image: linear-gradient(-150deg, #FB5E0B 20%, #fb5f0bd9), url('./../../../../assets/images/bg-ridwan.png');
}

.main{
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	-ms-flex-align: center;
	
	
	align-items: center;
	
	justify-content: center;
}

form{
	padding-top: 10px;
	font-size: 14px;
}

.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:20px;
}

.login-form{ 
	width:500px;
}

span{
	font-size:14px;
}

mat-form-field, button{
	width: 100%;
}
