<div class="main row">
	<h3 class="text-center text-light">Voici votre premiere connection Veuillez changer votre mot de passe</h3>
	<div class="card login-form">
		<div class="card-body">
			<h3 class="card-title text-center">Modification de mot de passe</h3>
				<form [formGroup]="passwordForm">
					<mat-form-field></mat-form-field>
					
							<!--<input type="password" [formControl]="passwordCtrl" class="form-control" placeholder="Nouveau mot de passe">-->
						
							<!--<input type="password" [formControl]="confirmCtrl" class="form-control" placeholder="Confirmation">-->
							<!--<small *ngIf="isMatchedPasswords$(confirmCtrl) | async" class="text-danger">Les mots de passes ne correspondent pas !</small>-->
						
						
							<button type="button" (click)="onSubmit()" class="btn w-100 btn-success btn-block">
								Valider
								<span *ngIf="loader$ | async" class="spinner-border ms-2 spinner-border-sm" role="status" aria-hidden="true"></span>
							</button>
						
				</form>
		</div>
	</div>	
</div>