.main{
	min-height: 100vh;
	padding-top: 3vh;
	background-image: linear-gradient(-150deg, #FB5E0B 20%, #fb5f0bd9), url('./../../../../assets/images/bg-ridwan.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.ipm{
	color: #8BC34A;
}
.offre{
	display: flex;
	flex-direction: column;
}
