<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img src="assets/images/karangue.png" class="d-block w-50 m-auto" alt="...">
		<div class="desc-offre p-2 mt-5">
			<div class="desc-offre-item text-light text-center">
				<h2>Offre Karangué</h2>
				<h4>Couverture jusqu'à <b class="fs-1"> 60%</b></h4>
			</div>
		</div>
	  </div>
	  <div class="carousel-item">
		<img src="assets/images/premium.png" class="d-block w-50 m-auto" alt="...">
		<div class="desc-offre p-2 mt-5">
			<div class="desc-offre-item text-light text-center">
				<h2>Offre Karangué</h2>
				<h4>Couverture jusqu'à <b class="fs-1"> 60%</b></h4>
			</div>
		</div>
	  </div>
	  <div class="carousel-item">
		<img src="assets/images/noflaye.png" class="d-block w-50 m-auto" alt="...">
		<div class="desc-offre p-2 mt-5">
			<div class="desc-offre-item text-light text-center">
				<h2>Offre Karangué</h2>
				<h4>Couverture jusqu'à <b class="fs-1"> 60%</b></h4>
			</div>
		</div>
	</div>
	</div>
</div>
